{{#extend "base"}}
    {{#content "css" mode="append"}}
        {{#if isDev}}
            <link rel="stylesheet" href="/profile.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/profile.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <div class="personInfo-wrap">
            <div class="personInfo">
                <div class="data">
                    <p class="name">{{nickname}}</p>
                    <p class="from"><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i> {{city}}</p>
                </div>
                <div class="avatar descHide">
                    <img src="{{avatar}}">
                </div>
            </div>
        </div>
        <div class="info">
            <div class="descAvatar" style="background-image: url({{avatar}})"></div>
            <div class='quests'>
                <h2>Квесты</h2>
                <div class="tabInfo">
                    <div class="nav-center">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#createdQuests">Созданные</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#passedQuests">Пройденные</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#wishList">В хотелках</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#map">Отметки на карте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="createdQuests" class="tab-pane fade in active">
                            {{#if myQuests.length}}
                                {{#each myQuests}}
                                    <div class="quest">
                                        <a href="/quest/{{questSlug}}"><h3>{{questName}}</a>
                                        <div class="quest__description">
                                            <div class="quest__description__photo">
                                                <img src="{{questTitlePhoto}}">
                                            </div>
                                            <div class="quest__description__text">
                                                <p>{{questDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <h3>Созданных квестов нет.</h3>
                            {{/if}}
                        </div>
                        <div id="passedQuests" class="tab-pane fade">
                            {{#if passedQuests.length}}
                                {{#each passedQuests}}
                                    <div class="quest">
                                        <a href="/quest/{{questSlug}}"><h3>{{questName}}</a>
                                        <div class="quest__description">
                                            <div class="quest__description__photo">
                                                <img src="{{questTitlePhoto}}">
                                            </div>
                                            <div class="quest__description__text">
                                                <p>{{questDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <h3>Ни один квест пока не пройден.</h3>
                            {{/if}}
                        </div>
                        <div id="wishList" class="tab-pane fade">
                            {{#if wishList.length}}
                                {{#each wishList}}
                                    <div class="quest">
                                        <a href="/quest/{{questSlug}}"><h3>{{questName}}</a>
                                        <div class="quest__description">
                                            <div class="quest__description__photo">
                                                <img src="{{questTitlePhoto}}">
                                            </div>
                                            <div class="quest__description__text">
                                                <p>{{questDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <h3>Пока нет квестов, которые хотелось бы пройти.</h3>
                            {{/if}}        
                        </div>
                        <div id="map" class="tab-pane fade"
                            data-coordinates='{{markers}}'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "js" mode="append"}}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script type="text/javascript">
            ymaps.ready(init);
            var myMap;

            function init() {
                myMap = new ymaps.Map('map', {
                    center: [56.8575, 60.6125],
                    zoom: 4,
                    controls: ['zoomControl', 'fullscreenControl']
                });
                var coordinates = JSON.parse(document.querySelector('#map').dataset.coordinates);
                console.log(coordinates);
                coordinates.forEach(coordinate => {
                    var marker = [coordinate.lat, coordinate.lng];
                    myMap.geoObjects.add(new ymaps.Placemark(marker));
                });
            }
        </script>
        {{#if isDev}}
            <script src="/profile.js" type="text/javascript"></script>
        {{else}}
            <script src="//kafkatist.surge.sh/profile.js" type="text/javascript"></script>
        {{/if}}
    {{/content}}
{{/extend}}