{{#extend "base"}}
    {{#content "css" mode="append"}}
        <link href='https://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
        {{#if isDev}}
            <link rel="stylesheet" href="/addQuest.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/addQuest.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <div class="addQuestForm" data-slug="{{slug}}">
            <div class="main-info container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4-500">
                        <div class="upload-photo quest-preview-photo" {{#if preview}}style="
                                background-image: url({{preview}});
                                background-size: cover;"{{/if}}>
                            <div class="upload-photo-view">
                                <span class="upload-photo-icon glyphicon glyphicon-camera"
                                {{#if preview}}style="opacity: 0"{{/if}}></span>
                            </div>
                            <input type="file" size="1" id="preview" accept="image/*"
                                   class="upload-photo-input">
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8-500">
                        <div class="form-group">
                            <label for="quest-name">Мой квест</label>
                            <input type="text" class="form-control" id="quest-name"
                                   name="quest-name" placeholder="введите название"
                                   required value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="quest-city">Будет проходить в...</label>
                            <input type="text" class="form-control" id="quest-city"
                                   name="quest-city" placeholder="город" required value="{{city}}">
                        </div>
                        <div class="form-group">
                            <label for="quest-duration">Время прохождения</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="quest-duration"
                                       name="quest-duration" value="{{duration}}">
                                <div class="input-group-addon">часов</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quest-tags">Тэги</label>
                            <input type="text" class="form-control" id="quest-tags"
                                   name="quest-tags" value="{{#each tags}}{{this}}, {{/each}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="quest-description">Описание</label>
                            <textarea class="form-control" rows="6" id="quest-description"
                                      placeholder="Расскажите о своем классном квесте"
                                      name="quest-description" required>{{description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="upload-photo quest-photos">
                            <div class="upload-photo-view">
                                <p class="upload-photo-text">Выбрать фотографии</p>
                            </div>
                            <input type="file" id="photos" size="1" accept="image/*"
                                   class="upload-photo-input" multiple>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {{#each photos}}
                                        <div class="swiper-slide" data-id="{{this.id}}"
                                             data-geo-lat="{{this.geolocation.lat}}"
                                             data-geo-lng="{{this.geolocation.lng}}"
                                             data-title="{{this.title}}"
                                             data-hint="{{this.hint}}"
                                             data-url="{{this.url}}">
                                            <div class="img-rounded swiper-quest-image"
                                                 style="background: url({{this.url}}) 100% 100%;
                                                         background-size: cover;">
                                                <a class="openmodal btn btn-default editBtn"
                                                   href="#{{this.id}}" data-toggle="modal" style="width: 100%">
                                                    <i class="fa fa-lg fa-pencil-square-o"
                                                       aria-hidden="true"></i>
                                                </a>
                                                {{#if canDelete}}
                                                    <button class="btn btn-default deleteBtn"
                                                            id="delete_{{this.id}}">
                                                        <i class="fa fa-lg fa-trash-o"
                                                           aria-hidden="true"></i>
                                                    </button>
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <button type="button" id="back" class="btn btn-default">Назад</button>
                            <button type="reset" id="clear" class="btn btn-warning">Очистить форму</button>
                            {{#if btnDel}}
                                <button type="button" id="delete" class="btn btn-danger">{{btnDel}}</button>
                            {{/if}}
                            <button type="submit" id="submit" class="btn btn-success">{{btnOk}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "js" mode="append"}}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {{#if isDev}}
            <script src="/addQuest.js" type="text/javascript"></script>
        {{else}}
            <script src="//kafkatist.surge.sh/addQuest.js" type="text/javascript"></script>
        {{/if}}
    {{/content}}
{{/extend}}