{{#extend "base"}}
    {{#content "css" mode="append"}}
        <link href="http://one-signal.github.io/emoji-picker/lib/css/nanoscroller.css" rel="stylesheet">
        <link href="http://one-signal.github.io/emoji-picker/lib/css/emoji.css" rel="stylesheet">
        {{#if isDev}}
            <link rel="stylesheet" href="/questPage.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/questPage.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <header style="background-image: url({{panorama}})">
            <div class="header__info">
                <h1 id="questName" data-slug="{{slug}}">{{displayName}}</h1>
                <p class="city">г. {{cityName}}</p>
                <p class="icons">
                    <i class="fa fa-2x fa-heart" aria-hidden="true"></i> {{rating.likes}}
                    <i class="fa fa-2x fa-comments-o fa-fw"></i>
                    <i class="fa fa-2x fa-thumbs-down" aria-hidden="true"></i> {{rating.dislikes}}
                </p>
                {{#unless isNotLogged}}
                <p class="addToWishList">
                    <button class="btn btn-lg {{classStyle}}" id="wish">
                        {{phrase}}
                    </button>
                </p>
                {{/unless}}
            </div>
        </header>
        <h2>Описание квеста:</h2>
        <div class="description">
            <div class="description__photo" style="background-image: url({{titleImage}})">
            </div>
            <div class="description__text">
                <p>{{description}}</p>
                <p class="author">{{author}}</p>
            </div>
        </div>
        <div class="photos">
            {{#each photos}}
                <div class="photo">
                    <div class="photo__img">
                        <img src="{{url}}" alt="{{title}}">
                    </div> 
                    <div class="photo__descr">
                        <div class="photo__descr__hint" alt="{{alt}}">
                            <p>{{hint}}</p>
                        </div>
                        <div class="photo__descr__button">
                            <a href="#" class="btn btn-success btn-lg foundBtn">Найдено!</a>
                            <a class="openmodal btn btn-warning commentBtn" href="#id_{{commentUrl}}"
                            data-toggle="modal">
                                <i class="fa fa-2x fa-comments-o fa-fw"></i>
                            </a>
                        </div>
                    </div>

                    <div class="modal fade" id="id_{{commentUrl}}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" id="back">
                                <div class="modal-header">
                                    <a class="btn btn-default close" data-dismiss="modal">
                                        <i class="fa fa-lg fa-times" aria-hidden="true"></i>
                                    </a>
                                    <h2>Комментарии</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-photo">
                                        <img src="{{url}}">
                                    </div>
                                    <div class="modal-comments" id="cb_{{commentUrl}}">

                                        {{#if isLogged}}
                                            <div class="commentForm">
                                                <input class="form-control commentToAdd"
                                                type="text" name="commentText"
                                                data-url="{{url}}"
                                                data-mc="{{commentUrl}}"
                                                placeholder="Поделитесь вашим мнением"/>

                                                <button class="btn btn-default addComment">
                                                    <i class="fa fa-lg fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        {{/if}}

                                        {{#each comments}}
                                            <div class="commentBox">
                                                <div class="author-photo">
                                                    <img src="{{authorPhoto}}">
                                                </div>
                                                <div class="comment-text">
                                                    <a class="author-name" href="/profile/{{authorID}}">
                                                        {{author}}
                                                    </a>
                                                    <p class="text">{{body}}</p>
                                                    <p class="date">{{date}}</p>
                                                </div>
                                            </div>
                                        {{/each}}

                                    </div>
                                </div>
                                <div class="modal-footer">                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}            
        </div>
        <h2>Комментарии:</h2>
        <div class="questComments" id="questCommentsBox">
            {{#unless isNotLogged}}
                <div class="commentForm">
                    <p class="emoji-picker-container">
                    <input id="testCommentQuest" class="form-control" type="text" name="textComment"
                    placeholder="Поделитесь вашим мнением" data-emojiable="true" />
                    </p>
                    <button class="btn btn-default" id="addQuestComment">
                        <i class="fa fa-lg fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            {{/unless}}
            {{#if questComments.length}}
                {{#each questComments}}
                    <div class="questComment">
                        <div class="commentAuthorPhoto">
                            <img src="{{authorPhoto}}">
                        </div>
                        <div class="commentData">
                            <a class="commentAuthor" href="/profile/{{authorID}}">
                                {{author}}
                            </a>
                            <p class="commentContent">{{body}}</p>
                            <p class="commentDate">{{date}}</p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p id="noComments">Ваш комментарий может стать первым!</p>
            {{/if}}
        </div>
    {{/content}}
    {{#content "js" mode="append"}}
        <script src="http://wedgies.github.io/jquery-emoji-picker/js/jquery.emojipicker.js" type="text/javascript"></script>
        <script src="http://wedgies.github.io/jquery-emoji-picker/js/jquery.emojipicker.a.js"></script>
        <script src="http://one-signal.github.io/emoji-picker/lib/js/nanoscroller.min.js"></script>
          <script src="http://one-signal.github.io/emoji-picker/lib/js/tether.min.js"></script>
          <script src="http://one-signal.github.io/emoji-picker/lib/js/config.js"></script>
          <script src="http://one-signal.github.io/emoji-picker/lib/js/util.js"></script>
          <script src="http://one-signal.github.io/emoji-picker/lib/js/jquery.emojiarea.js"></script>
          <script src="http://one-signal.github.io/emoji-picker/lib/js/emoji-picker.js"></script>
           <script>
                $(function() {
                  // Initializes and creates emoji set from sprite sheet
                  window.emojiPicker = new EmojiPicker({
                    emojiable_selector: '[data-emojiable=true]',
                    assetsPath: 'http://one-signal.github.io/emoji-picker/lib/img/',
                    popupButtonClasses: 'fa fa-smile-o'
                  });
                  // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
                  // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
                  // It can be called as many times as necessary; previously converted input fields will not be converted again
                  window.emojiPicker.discover();
                });
              </script>
        {{#if isDev}}
            <script src="/questPage.js" type="text/javascript"></script>
        {{else}}
            <script src="//kafkatist.surge.sh/questPage.js" type="text/javascript"></script>

        {{/if}}
    {{/content}}
{{/extend}}