<!DOCTYPE html>
<html lang="ru">
<head>
    {{#if isDev}}
        <link rel="stylesheet" href="/main.css">
    {{else}}
        <link rel="stylesheet" href="//kafkatist.surge.sh/main.css">
    {{/if}}

    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
</head>
<body>
    <p>{{{ message }}}</p>
    <p class="header">test</p>
    {{#if isDev}}
        <script src="/mainPage.js" type="text/javascript"></script>
    {{else}}
        <script src="//kafkatist.surge.sh/main.css" type="text/javascript"></script>
    {{/if}}
</body>
</html>
