{{#extend "base"}}
    {{#content "css" mode="append"}}
        {{#if isDev}}
            <link rel="stylesheet" href="/quests.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/quests.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <nav class="navbar navbar-default navbar-search">
            <form class="navbar-form" role="search">
                <div class="input-group col-xs-12  col-sm-5 input-group-md">
                    <input type="text" id="search-quests" class="form-control" placeholder="Введите тэг" name="q">
                    <div class="input-group-btn">
                        <button class="btn" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <main class="container-fluid">
            {{#if quests.length}}
                {{#each quests}}
                    <figure style="background-image:url({{titleImage}});" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 quest medium">
                        <div class="blur"></div>
                        <h3 class="quest-name">{{displayName}}</h3>
                        <figcaption class="addition">
                            <ul class="icons">
                                <li class="icon"><i class="fa fa-2x fa-thumbs-o-up fa-fw"></i>5</li>
                                <li class="icon"><i class="fa fa-2x fa-thumbs-o-down fa-fw"></i>0</li>
                                <li class="icon"><i class="fa fa-2x fa-comments-o fa-fw"></i>15</li>
                            </ul>
                            <p class="description description__medium box after">{{description}}</p>
                        </figcaption>
                    </figure>
                {{/each}}
            {{^}}
                <p>Quests not found!</p>
            {{/if}}
        </main>
    {{/content}}
    {{#content "js" mode="append"}}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.js"></script>
        {{#if isDev}}
            <script src="/quests.js" type="text/javascript"></script>
        {{else}}
            <script src="//kafkatist.surge.sh/quests.js" type="text/javascript"></script>
        {{/if}}
    {{/content}}
{{/extend}}